<h1>Welcome to Datadex</h1>

<p>Datadex is an example system, designed to organise lists of development dataset links.</p>

<p>I have a *lot* of datasets and pointers to datasets in my collections. I'd like to make them available to more people, but they get lost in big data repositories and existing repository managers are too complicated and difficult to manage for this task.</p>

<p>I want people to be able to find datasets related to a given topic, add datasets of their own, and know where the cleanest copy of a dataset is online.</p>

<button>this is a button</button>