<div>
  <h1>My favourite websites</h1>
<% for url, name in @websites %>
  <li><a href="<%= url %>"><%= name %></a></li>
<% end %>
  </div>
  <img src="http://railsgirls.com/images/rg-warsaw.png" />
<h1><%= link_to("My Diary", entries_path) %></h1>
